{{/* Display author list. Links to external website if set in author profile, otherwise to internal profile page. */}}

{{ $taxonomy := "authors" }}
{{ with .Param $taxonomy }}
  {{ range $index, $value := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy (. | urlize)) -}}
    {{- $name := $profile_page.Params.name | default ($value|markdownify) -}}
    {{- if gt $index 0 }}, {{ end -}}
    <span itemprop="author name" itemtype="http://schema.org/Person">
      {{- with $profile_page -}}
        {{- if .Params.website -}}
          <a href="{{.Params.website}}" target="_blank" rel="noopener">{{$name}}</a>
        {{- else -}}
          <a href="{{.RelPermalink}}">{{$name}}</a>
        {{- end -}}
      {{- else -}}
        {{$name}}
      {{- end -}}
    </span>
  {{- end -}}
{{ end }}
